body{background-color:Blanchedalmond;}

h1{text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
   color: #666;
   }

#parrafo1{font-style:italic;
font-size:150%;
font-weight:bold;
}

#parrafo2{color:#800080;
font-weight:bolder;
}

#lista{list-style:square;
border-color:#800080;
border-style:groove;
border-width:5px;
margin-right:1100px;}

li{color:maroon;
font-weight:bolder;}
li{font-weight:bold;
		color:#800000;}
li{font-weight:bold;
		color:rgb(128,0,0);}
